mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-macros-plugin
pymdown-extensions
GitPython
requests
mkdocs-redirects
mkdocs-linkcheck
mkdocs-open-in-new-tab
pytest
Jinja2
#mkdocs-print-site-plugin
#mkdocs-with-pdf
