mkdocs
mkdocs-material
mkdocs-material-extensions==1.1
mkdocs-macros-plugin
pymdown-extensions
GitPython
requests
mkdocs-redirects
mkdocs-linkcheck
pytest
Jinja2
#mkdocs-print-site-plugin
#mkdocs-with-pdf
