<div class="sensor-card">
    {% if feature_img is not none %}
    <div class="sensor-image">
        <img class="sensor-photo" src="{{ feature_img }}" alt="{{ name }}">
    </div>
    {% endif %}
    <div class="sensor-content">
        <div class="sensor-content-top">
            <h3 class="name">{{ name }}</h3>
            <h4>
                {% if field is not none %}{{ field }}{% endif %}
                - {% if target is not none %}{{ target }}{% endif %}
            </h4>
        </div>
        <div class="sensor-content-bottom">
        </div>
    </div>
</div>
