<div class="sensor-banner {{ color }}-sensor-banner">
    <a href="{{target_url}}" class="a-sensor-banner">
        <div class="sensor-image-block">
            <img src="{{ feature_img }}" alt="{{ name }}" class="sensor-image">
        </div>
        <div class="sensor-tags-block-container">
            <h1>{{ name }}</h1>
            {% if grade %}
            <div class="sensor-tags-block">
                <div class="sensor-field sensor-tag">
                    <p class="sensor-field-name">Grade | <b class="sensor-tag-content">{% for i in grade %}{{i}}{% endfor %}</b></p>
                </div>
            </div>
            {% endif %}
            <p class="sensor-excerpt"> {{excerpt}} </p>
        </div>
    </a>
</div>
