{% extends "base.html" %}

{% block extrahead %}
    <script defer data-domain="docs.smartcitizen.me" src="https://plausible.io/js/plausible.js"></script>
    <script src="/javascripts/extra.js"></script>
{% endblock %}

{% block content %}

{% if page.meta.url_to_pdf %}
    <a href="{{ page.meta.url_to_pdf }}" title="Get PDF" class="md-content__button md-icon">
        {% include ".icons/material/file-pdf-box.svg" %}
    </a>
{% endif %}

{% if config.extra.fullscreen_button %}
    <button onclick="toggleFullScreen()" title="Fullscreen mode" class="md-content__button md-icon fullscreen_button">
         {% include ".icons/octicons/screen-full-16.svg" %}
    </button>
{% endif %}

{{ super() }}
{% endblock content %}